<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGGED IN | HOME</title>
</head>

<body>
    <h5>
        welcome {{request.user}}
    </h5>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque distinctio ipsum animi explicabo delectus at
        quia magni est tenetur recusandae debitis eos minima maiores doloribus maxime qui id, veritatis optio!
    </p>
    <a href="/logout">Log Out</a>

</body>
</html>